<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class ="jumbotron">
        <h1>Word Counter</h1>
        <h3>Never count word occurences manually again</h3>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
